@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #252525;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content {
    flex-grow: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo a {
    text-decoration: none;
    font-weight: 900;
    font-size: 38px;
    color: yellowgreen;
    cursor: pointer;
    letter-spacing: 3px;
    transition: 0.3s ease;
    font-family: "DM Serif Text", sans-serif;
}

.nav_links {
    list-style-type: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    font-weight: 700;
    font-size: 18px;
    color: #f5f5f5;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #5f66db;
}

.home {
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    width: 600px;
}

.home-content h1 {
    color: #F5F5F5;
    font-size: 50px;
    font-weight: 900;
}

.home-content h3 {
    color: #F5F5F5;
    font-size: 26px;
    font-weight: 600;
    margin: 10px 0px 25px;
}

.home-content p {
    color: #F5F5F5;
    font-size: 19px;
    letter-spacing: 0.3px;
    margin: 0px 0px 30px;
    line-height: 1.5;
}

.home-content .btn-box {
    height: 50px;
}

.home-content .btn-box a {
    text-decoration: none;
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 0.5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #5f66db;
    color: #F5F5F5;
    width: 180px;
    height: 100%;
    border: 2px solid #5f66db;
    border-radius: 50px;
    transition: 0.5s ease;
}

.home-content .btn-box a:hover {
    background-color: transparent;
    color: #5f66db;
}

.avatar {
    width: 35%;
    height: auto;
    margin-right: 10%;
    border-radius: 200px;
    box-shadow: 1px 1px 20px #959595;
}

.hamburger {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 24px;
    position: relative;
    z-index: 2;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #f5f5f5;
    border-radius: 10px;
    position: absolute;
    left: 0;
    transition: all 0.3s ease-in-out;
}

.hamburger span:nth-child(1) {
    top: 0;
}

.hamburger span:nth-child(2) {
    top: 10px;
}

.hamburger span:nth-child(3) {
    top: 20px;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px;
}

footer {
    color: #F5F5F5;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    margin: 0px 0px 30px 0px;
}

footer a {
    color: #F5F5F5;
    font-size: 16px;
    font-weight: 900;
    text-decoration: none;
    transition: 0.3s ease;
}

footer a:hover {
    color: #5f66db;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@media screen and (max-width: 1100px) {
    .hamburger {
        display: block;
        z-index: 2;
        position: relative;
    }

    .nav_links {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #252525;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: top 0.5s ease-in-out;
        z-index: 1;
    }

    .nav_links li {
        margin: 15px 0;
    }

    .nav_links li a {
        display: block;
        font-size: 18px;
        padding: 15px 0;
        width: 100%;
    }

    .nav_links.active {
        top: 0;
    }

    .hamburger.active i {
        font-size: 40px;
        color: #F5F5F5;
        transition: all 0.3s ease-in-out;
    }
}

@media screen and (max-width: 768px) {
    .home {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10%;
    }
    
    .avatar {
        width: 50%;
        height: auto;
        display: block;
        margin: auto;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    
    .home-content {
        width: 100%;
        text-align: center;
    }
    
    .home-content h1 {
        font-size: 36px; 
    }
    
    .home-content h3 {
        font-size: 20px; 
    }
    
    .home-content p {
        font-size: 18px;
    }
    
    .home-content .btn-box {
        height: 45px; 
    }

    footer {
        font-size: 12px;
        margin-top: 15%;
    }

    footer a {
        font-size: 14px;
    }
}